.loginPanel {
    border: 2px solid gray;
    padding: 10px;
    margin: auto;
    width: 50%;
    min-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Add this line */
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .loginPanel {
        width: 95%;
        min-width: 270px;
        margin: auto;
        
    }
    
}